html {
  background-color: rgb(79, 78, 84);
}

.header {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 5px black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 0px;
  text-align: center;
}

.input-wrapper {
  margin: 20px;
  display: inline-block;
}

.calculation-input {
  font-size: 30px;
  margin: 20px;
  text-align: center;
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  color: rgb(69, 69, 69);
  display: inline-block;
}

.calculation-text {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 5px black;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.calculated-label {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 5px black;
  margin: auto;
}

.output-wrapper {
  text-align: center;
}

.outside-wrapper {
  text-align: center;
}

.a-wrapper {
  text-align: center;
}

#middle-text {
  text-align: center;
}