html {
  background-color: #404040;
}

.header {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: auto;
  text-align: center;
}

.calculation-input {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  width: 150px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  color: rgb(69, 69, 69);
  display: inline-block;
}

.calculation-text {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.calculated-label {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: auto;
  display: inline-block;
}

.input-wrapper {
  text-align: center;
}

.outside-wrapper {
  display: inline-block;
  padding: 20px;
  margin: auto;
}

.container {
  text-align: center;
  width: auto;
}